/ {

	aliases {
		pir-master = &pyd1598_master;
		pir0 = &pyd1598_0;
	};


	pyd1598_master: pyd1598-master {
		compatible = "excelitas,pyd1598-master";
		pyd1598_0: pyd1598_0 {
			compatible = "excelitas,pyd1598";
			serial_in-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			direct_link-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			status = "okay"; // set to "disabled" to disable the sensor
		};

	};
};
